*{
    font-family: 'Roboto', sans-serif;
}

section{
    padding-top: 4rem ;
    padding-bottom: 4rem;
    
}
input, textarea{
    margin-bottom: 1rem;
}
.sobre{
    font-size: 40px;
}
.card{
    width: 32%;
    float: left;
    margin: 5px;
}
#logo{
    width: 130px;
    height: 70px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.nav-item{
    margin-top: 20px;
    
}
.nav-link{
    color: white;
    background-color: darkgray;
    border-radius: 10px;
    margin-left:10px ;
    margin-top: 15px;
    font-weight: 600;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.651) ;
}
.nav-link:hover{
    color: black;
}
#destaque{
    border-radius: 5px;
}
.mercadoria{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    
}

@media(max-width:991px){
    .card {
        width: 31%;
        float: left;
        margin: 7px;
    }
    .nav{
        display: flex;
        flex-wrap: nowrap;
        padding-left: 10px;
    }
    .nav-link{
        margin-left: 8px;
        padding-left: 4px;
        width: 90px; 
        text-align: center;  
        text-indent: 5px;
    }
    .nav-item{
        margin-left: -4px;
    }

}
@media(max-width:768px){
    .card {
        width: 30%;
        float: left;
        margin: 8px;
    }
}
@media(max-width:553px){
    .card {
        width: 100%;
        float: left;
        margin: 5px;
    }
    .form-contro{
        position: relative;
        column:
        width: 100%;

    }
}
@media(max-width:485px){
    .card {
        width: 100%;
        float: left;
        margin: 5px;
    }
}
@media( max-width:425px){
    .nav{
        display: flex;
        flex-wrap: nowrap;
        padding-left: 10px;
    }
    .nav-link{
        margin-left: 8px;
        padding-left: 4px;
        width: 90px; 
        text-align: center;  
        text-indent: 3px;
    }
    .nav-item{
        margin-left: -4px;
    }
    .card {
        width: 100%;
        float: left;
        margin: 5px;
    }
}

@media(max-width:320px){
    .card{
        width: 100%;
    }
    .nav{
        display: flex;
        flex-wrap: nowrap;
        padding-left: 10px;
    }
    .nav-link{
        margin-left: 8px;
        padding-left: 4px;
        width: 73px; 
        text-align: center;  
        text-indent: 3px;
    }
    .nav-item{
        margin-left: -4px;
    }
        
}

